.vscode
.vs



.env

*.pem


*.sarif


# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include tfplan files
*.tfplan
*tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore credentials and configuration directories
creds/*
.terraform
.idea
.vscode

# Ignore secrets files
terraform.tfvars
